[submodule "ondatra"]
	path = ondatra
	url = https://github.com/open-traffic-generator/ondatra
	branch = ate_otg
    ignore = dirty
[submodule "kne"]
	path = kne
	url = https://github.com/google/kne
	branch = main
    ignore = dirty
[submodule "meshnet-cni"]
	path = meshnet-cni
	url = https://github.com/networkop/meshnet-cni
    ignore = dirty

